repos:
-   repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.9.0
    hooks:
    -   id: pre-commit-update
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
-   repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
    rev: v0.15.1
    hooks:
    # Run the linter for imports
    -   id: ruff-check
        args: [--select, I, --fix]
    # Automatically fix issues.
    -   id: ruff-check
        args: [--fix]
    # Run the formatter.
    -   id: ruff-format
